.header {
    white-space: nowrap;
    font-size: 18px;
    line-height: 21px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.header__logo {
    display: block;
    width: 30px;
}

@media (min-width: 900px) {
    .header__logo {
        width: 52px;
    }
}

.header__body {
    position: relative;
}

@media (min-width: 900px) {
    .header__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__login {
    position: absolute;
    top: 5px;
    right: 20px;
}

@media (min-width: 900px) {
    .header__login {
        position: static;
        flex: 1;
        text-align: right;
    }
}

.header__link {
    width: fit-content;
    margin: 10px 0 0;
}

.header__link:not(:last-child) {
    margin-right: 30px;
}

@media (min-width: 900px) {
    .header__link {
        margin-left: 30px;
    }
}

.header__links {
    margin-top: 15px;
    overflow-x: auto;
}

@media (min-width: 900px) {
    .header__links {
        margin-top: 0;
    }
}
